body
{
    text-align: center;
    background-color: aqua;
}
#details
{
    text-align: right;
    margin-right: 30px;
    margin-bottom: 150px;
}
#map
{
    text-align:left;
    margin-left: 30px;
    margin-top: 100px;   
}
#maps123456
{
    text-align:left;
    margin-left: 30px;
}
#img1
{
    width: 200px;
    height: 200px;
    margin-right: 80px;
}
#ul
{
    text-align: left;
    background-color: chartreuse;
    text-decoration: black;
}